
        {{#admin}}

            <div class="w3-bar w3-black ">
                <a href="/administrador/execute" class="w3-bar-item w3-button w3-mobile w3-hover-khaki w3-padding-large">Home</a>
                <a href="/cargarViaje/execute" class="w3-bar-item w3-button w3-mobile w3-hover-khaki w3-padding-large">Cargar Viaje</a>
            </div>

        {{/admin}}

        {{#supervisor}}
            <div class="w3-bar w3-black ">
                <a href="/administrador/execute" class="w3-bar-item w3-button w3-mobile w3-hover-khaki w3-padding-large">Home</a>
                <a href="/administrador/execute" class="w3-bar-item w3-button w3-mobile w3-hover-khaki w3-padding-large">Cargar Viaje</a>
            </div>
        {{/supervisor}}

        {{#mecanico}}
            <div class="w3-bar w3-black ">
                <a href="/administrador/execute" class="w3-bar-item w3-button w3-mobile w3-hover-khaki w3-padding-large">Home</a>
                <a href="/administrador/execute" class="w3-bar-item w3-button w3-mobile w3-hover-khaki w3-padding-large">Mantenimientos</a>
            </div>
        {{/mecanico}}

        {{#chofer}}
            <!-- Divider -->
            <div class="w3-bar w3-black ">
                <a href="/administrador/execute" class="w3-bar-item w3-button w3-mobile w3-hover-khaki w3-padding-large">Home</a>
                <a href="/administrador/execute" class="w3-bar-item w3-button w3-mobile w3-hover-khaki w3-padding-large">Reporte Diario</a>
            </div>
        {{/chofer}}



